.toggle-password {
    position: absolute;
    right: 12px;
    top: 38px;
    cursor: pointer;
    color: #6c757d;
    font-size: 18px;
    user-select: none;
}

.toggle-password:hover {
    color: #000;
}

#response {
    opacity: 0;
    transform: translateY(-6px);
    transition: opacity 0.35s ease, transform 0.35s ease;
}

/* visible */
#response.show {
    opacity: 1;
    transform: translateY(0);
}